$color:#121319;
$color-result: #081987;
$bg-swich:#2060a0;
$bg-color: #e8e8e8;
$bg-container-general:#abc9e6;
$bg-calculadora:#cbddee;
$bg-history:#cbddee;
$border-calc: #4c5279;
$border: #1d1e1e;
$bg-button:#8cb8e4;
$bg-equal:#f1631d;
$bg-operation:#2060a0;
$bg-reset:#dc1a1a;
$button-color:#131521;
$bg-delete:#8cb8e4;
$bg-pressed-delete:#688fb6;
$bg-pressed-button:#688fb6;
$bg-pressed-button-equal:#c35118;
$bg-pressed-button-operation:#184d82;
$bg-pressed-button-reset:#b61414;